In [3]:
import numpy as np
import pandas as pd

In [2]:
crime_df = pd.read_csv("Crime_Data.csv")

In [3]:
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499488 entries, 0 to 499487
Data columns (total 11 columns):
Report Number                  499488 non-null int64
Occurred Date                  499486 non-null object
Occurred Time                  499486 non-null float64
Reported Date                  499488 non-null object
Reported Time                  499486 non-null float64
Crime Subcategory              499226 non-null object
Primary Offense Description    499488 non-null object
Precinct                       499482 non-null object
Sector                         496327 non-null object
Beat                           496374 non-null object
Neighborhood                   499488 non-null object
dtypes: float64(2), int64(1), object(8)
memory usage: 41.9+ MB

## Formatting Date

In [4]:
crime_df['Occurred Date'] =  pd.to_datetime(crime_df['Occurred Date'], format='%m/%d/%Y')
crime_df['Reported Date'] =  pd.to_datetime(crime_df['Reported Date'], format='%m/%d/%Y')

## Getting all dates after 2008

Before cleanup

In [5]:
b4 = crime_df.size
b4

5494368

In [6]:
crime_df = crime_df[crime_df['Reported Date'] >= '2008-01-01']

In [7]:
aft = crime_df.size
aft

5492256

In [8]:
print ("Records before 2007: " + str(b4 - aft))

Records before 2007: 2112

## Formatting Times

In [9]:
crime_df['Occurred Time'] = crime_df['Occurred Time'].fillna(method='ffill')
crime_df['Reported Time'] = crime_df['Reported Time'].fillna(method='ffill')

In [10]:
crime_df.head()

,Report Number,Occurred Date,Occurred Time,Reported Date,Reported Time,Crime Subcategory,Primary Offense Description,Precinct,Sector,Beat,Neighborhood
0,20080000465209,1908-12-13,2114.0,2008-12-13,2114.0,DUI,DUI-LIQUOR,EAST,G,G2,CENTRAL AREA/SQUIRE PARK
1,20090000437605,2009-12-20,2200.0,2009-12-21,1016.0,BURGLARY-COMMERCIAL,BURGLARY-FORCE-NONRES,SOUTHWEST,F,F3,SOUTH PARK
2,20090000438106,2009-12-20,2145.0,2009-12-21,1936.0,ROBBERY-STREET,ROBBERY-STREET-BODYFORCE,SOUTH,S,S1,SOUTH BEACON HILL
3,20090000437252,2009-12-20,2144.0,2009-12-20,2144.0,CAR PROWL,THEFT-CARPROWL,WEST,M,M1,BELLTOWN
4,20090000437261,2009-12-20,2136.0,2009-12-20,2330.0,THEFT-SHOPLIFT,THEFT-SHOPLIFT,WEST,M,M2,DOWNTOWN COMMERCIAL

In [11]:
crime_df['Occurred Time'] = [pd.to_datetime(int(t), format='%H%M') if (len(str(t)) >= 4) else pd.to_datetime(int(t), format='%H') for t in crime_df['Occurred Time']]
crime_df['Reported Time'] = [pd.to_datetime(int(t), format='%H%M') if (len(str(t)) >= 4) else pd.to_datetime(int(t), format='%H') for t in crime_df['Reported Time']]

In [12]:
crime_df['Occurred Time'] = crime_df['Occurred Time'].dt.time
crime_df['Reported Time'] = crime_df['Reported Time'].dt.time

In [14]:
crime_df.tail()

,Report Number,Occurred Date,Occurred Time,Reported Date,Reported Time,Crime Subcategory,Primary Offense Description,Precinct,Sector,Beat,Neighborhood
499482,20180000910320,2018-11-05,10:00:00,2018-11-05,10:20:00,CAR PROWL,THEFT-AUTOACC,EAST,G,G3,JUDKINS PARK/NORTH BEACON HILL
499483,20180000414202,2018-11-05,08:00:00,2018-11-05,08:00:00,NARCOTIC,NARC-POSSESS-METH,WEST,M,M3,DOWNTOWN COMMERCIAL
499484,20180000910319,2018-11-05,00:00:00,2018-11-05,10:19:00,THEFT-ALL OTHER,THEFT-OTH,NORTH,L,L3,LAKECITY
499485,20180000910304,2018-11-05,00:00:00,2018-11-05,08:26:00,CAR PROWL,THEFT-CARPROWL,NORTH,N,N3,NORTHGATE
499486,20070000430946,NaT,00:00:00,2007-01-01,08:26:00,RAPE,RAPE-OTHER,UNKNOWN,NaN,NaN,UNKNOWN

In [28]:
#crime_df.to_csv("crime_clean.csv",index=False)

In [4]:
#clean_df = pd.read_csv("crime_clean.csv")

In [5]:
clean_df.head()

,Report Number,Occurred Date,Occurred Time,Reported Date,Reported Time,Crime Subcategory,Primary Offense Description,Precinct,Sector,Beat,Neighborhood
0,20080000465209,1908-12-13,21:14:00,2008-12-13,21:14:00,DUI,DUI-LIQUOR,EAST,G,G2,CENTRAL AREA/SQUIRE PARK
1,20090000437605,2009-12-20,22:00:00,2009-12-21,10:16:00,BURGLARY-COMMERCIAL,BURGLARY-FORCE-NONRES,SOUTHWEST,F,F3,SOUTH PARK
2,20090000438106,2009-12-20,21:45:00,2009-12-21,19:36:00,ROBBERY-STREET,ROBBERY-STREET-BODYFORCE,SOUTH,S,S1,SOUTH BEACON HILL
3,20090000437252,2009-12-20,21:44:00,2009-12-20,21:44:00,CAR PROWL,THEFT-CARPROWL,WEST,M,M1,BELLTOWN
4,20090000437261,2009-12-20,21:36:00,2009-12-20,23:30:00,THEFT-SHOPLIFT,THEFT-SHOPLIFT,WEST,M,M2,DOWNTOWN COMMERCIAL

## Crime Subcategories

In [53]:
pd.Series(clean_df["Crime Subcategory"].unique())

0                                     DUI
1                     BURGLARY-COMMERCIAL
2                          ROBBERY-STREET
3                               CAR PROWL
4                          THEFT-SHOPLIFT
5                         THEFT-ALL OTHER
6                            PROSTITUTION
7                   AGGRAVATED ASSAULT-DV
8                    BURGLARY-RESIDENTIAL
9                     MOTOR VEHICLE THEFT
10              FAMILY OFFENSE-NONVIOLENT
11                      SEX OFFENSE-OTHER
12                                   RAPE
13                               HOMICIDE
14                         THEFT-BUILDING
15                     AGGRAVATED ASSAULT
16    BURGLARY-RESIDENTIAL-SECURE PARKING
17                               TRESPASS
18     BURGLARY-COMMERCIAL-SECURE PARKING
19                               NARCOTIC
20                          THEFT-BICYCLE
21                    ROBBERY-RESIDENTIAL
22                                  ARSON
23                            PORNOGRAPHY
24                     ROBBERY-COMMERCIAL
25                   LIQUOR LAW VIOLATION
26                                 WEAPON
27                              LOITERING
28                                    NaN
29                     DISORDERLY CONDUCT
30                                 GAMBLE
dtype: object

In [47]:
crime_df["Crime Subcategory"].value_counts()

CAR PROWL                              142397
THEFT-ALL OTHER                         51552
THEFT-SHOPLIFT                          46354
BURGLARY-RESIDENTIAL                    45181
MOTOR VEHICLE THEFT                     41858
BURGLARY-COMMERCIAL                     22144
THEFT-BUILDING                          20386
NARCOTIC                                16859
TRESPASS                                15909
AGGRAVATED ASSAULT                      14721
DUI                                     12204
ROBBERY-STREET                          11462
THEFT-BICYCLE                           10720
BURGLARY-RESIDENTIAL-SECURE PARKING      8163
FAMILY OFFENSE-NONVIOLENT                6600
AGGRAVATED ASSAULT-DV                    6590
SEX OFFENSE-OTHER                        6045
WEAPON                                   4747
ROBBERY-COMMERCIAL                       4346
PROSTITUTION                             3555
RAPE                                     1857
LIQUOR LAW VIOLATION                     1619
BURGLARY-COMMERCIAL-SECURE PARKING       1099
ARSON                                    1038
ROBBERY-RESIDENTIAL                      1017
DISORDERLY CONDUCT                        268
HOMICIDE                                  267
PORNOGRAPHY                               166
LOITERING                                  85
GAMBLE                                     17
Name: Crime Subcategory, dtype: int64

In [9]:
pd.Series(clean_df["Neighborhood"].unique())

0             CENTRAL AREA/SQUIRE PARK
1                           SOUTH PARK
2                    SOUTH BEACON HILL
3                             BELLTOWN
4                  DOWNTOWN COMMERCIAL
5                           QUEEN ANNE
6                           BITTERLAKE
7                      ALASKA JUNCTION
8                              FREMONT
9                         CAPITOL HILL
10                   ROOSEVELT/RAVENNA
11                           NORTHGATE
12                         SLU/CASCADE
13                          HIGH POINT
14                         MOUNT BAKER
15      JUDKINS PARK/NORTH BEACON HILL
16                      MADRONA/LESCHI
17                      PIONEER SQUARE
18                          FIRST HILL
19                LAKEWOOD/SEWARD PARK
20                          UNIVERSITY
21                         WALLINGFORD
22                             UNKNOWN
23                                ALKI
24                     BRIGHTON/DUNLAP
25                       NORTH ADMIRAL
26      ROXHILL/WESTWOOD/ARBOR HEIGHTS
27                            LAKECITY
28                        HILLMAN CITY
29                       HIGHLAND PARK
30                       FAUNTLEROY SW
31                           SANDPOINT
32             CLAREMONT/RAINIER VISTA
33                        RAINIER VIEW
34                   NORTH BEACON HILL
35                              MORGAN
36                            MAGNOLIA
37                      SOUTH DELRIDGE
38                      NORTH DELRIDGE
39                                SODO
40                           GREENWOOD
41                       RAINIER BEACH
42                     MID BEACON HILL
43                       PHINNEY RIDGE
44    CHINATOWN/INTERNATIONAL DISTRICT
45                             GENESEE
46                       BALLARD NORTH
47                         MILLER PARK
48                       BALLARD SOUTH
49                       COLUMBIA CITY
50                MONTLAKE/PORTAGE BAY
51                           NEW HOLLY
52                        MADISON PARK
53                          GEORGETOWN
54                     EASTLAKE - WEST
55            COMMERCIAL HARBOR ISLAND
56                 COMMERCIAL DUWAMISH
57                        PIGEON POINT
58                     EASTLAKE - EAST
dtype: object

In [16]:
def encodeCat(df, col):
    dfCat = df[col].str.get_dummies(sep=',')
    return pd.concat([df, dfCat], sort=False, axis=1)

In [17]:
clean_df = encodeCat(clean_df,"Crime Subcategory")

In [19]:
del clean_df["Crime Subcategory"]

In [20]:
del clean_df["Neighborhood"]

In [ ]:
crime_df.to_csv("crime_clean.csv",index=False)