In [1]:
from dask.distributed import Client, progress
client = Client()
client

In [2]:
import dask.dataframe as dd

In [3]:
df = dd.read_csv('SeasonalWeather.csv')

In [4]:
df.head()

   RoadSurfaceTemperature  AirTemperature   Precinct  Year  Month  Season
0                   53.88           53.88  SOUTHWEST  2014      3  SPRING
1                   54.05           54.05  SOUTHWEST  2014      3  SPRING
2                   54.21           54.21  SOUTHWEST  2014      3  SPRING
3                   54.38           54.38  SOUTHWEST  2014      3  SPRING
4                   54.54           54.54  SOUTHWEST  2014      3  SPRING

In [5]:
def calcMean(df, seasonCol, tempCol, season):
    mean = df[(df[tempCol] < 105) & (df[tempCol] > 0) & (df[seasonCol] == season)][[tempCol]].mean().compute()
    print(mean)
    return mean

In [6]:
def calcSTD(df, seasonCol, tempCol, season):
    std = df[(df[tempCol] < 105) & (df[tempCol] > 0) & (df[seasonCol] == season)][[tempCol]].std().compute()
    print(std)
    return std

## Winter

In [7]:
calcMean(df, 'Season', "RoadSurfaceTemperature", "WINTER")

RoadSurfaceTemperature    44.826152
dtype: float64

RoadSurfaceTemperature    44.826152
dtype: float64

In [8]:
calcSTD(df, 'Season', "RoadSurfaceTemperature", "WINTER")

RoadSurfaceTemperature    6.43319
dtype: float64

RoadSurfaceTemperature    6.43319
dtype: float64

In [9]:
calcMean(df, 'Season', "AirTemperature", "WINTER")

AirTemperature    45.049804
dtype: float64

AirTemperature    45.049804
dtype: float64

In [10]:
calcSTD(df, 'Season', "AirTemperature", "WINTER")

AirTemperature    5.900678
dtype: float64

AirTemperature    5.900678
dtype: float64

In [33]:
45.049804-  5.900678 - 5.900678

33.248448

## Spring

In [11]:
calcMean(df, 'Season', "RoadSurfaceTemperature", "SPRING")

RoadSurfaceTemperature    58.93128
dtype: float64

RoadSurfaceTemperature    58.93128
dtype: float64

In [12]:
calcSTD(df, 'Season', "RoadSurfaceTemperature", "SPRING")

RoadSurfaceTemperature    12.448859
dtype: float64

RoadSurfaceTemperature    12.448859
dtype: float64

In [13]:
calcMean(df, 'Season', "AirTemperature", "SPRING")

AirTemperature    54.781097
dtype: float64

AirTemperature    54.781097
dtype: float64

In [14]:
calcSTD(df, 'Season', "AirTemperature", "SPRING")

AirTemperature    9.00445
dtype: float64

AirTemperature    9.00445
dtype: float64

In [35]:
54.781097 - 9.00445 - 9.00445

36.772197000000006

## Summer

In [15]:
calcMean(df, 'Season', "RoadSurfaceTemperature", "SUMMER")

RoadSurfaceTemperature    76.748105
dtype: float64

RoadSurfaceTemperature    76.748105
dtype: float64

In [16]:
calcSTD(df, 'Season', "RoadSurfaceTemperature", "SUMMER")

RoadSurfaceTemperature    11.348291
dtype: float64

RoadSurfaceTemperature    11.348291
dtype: float64

In [17]:
calcMean(df, 'Season', "AirTemperature", "SUMMER")

AirTemperature    69.394578
dtype: float64

AirTemperature    69.394578
dtype: float64

In [18]:
calcSTD(df, 'Season', "AirTemperature", "SUMMER")

AirTemperature    9.237978
dtype: float64

AirTemperature    9.237978
dtype: float64

In [38]:
69.394578 - 9.237978 - 9.237978

50.918622

## Fall

In [19]:
calcMean(df, 'Season', "RoadSurfaceTemperature", "FALL")

RoadSurfaceTemperature    57.854261
dtype: float64

RoadSurfaceTemperature    57.854261
dtype: float64

In [40]:
56.146678 - 9.339239-9.339239

37.4682

In [20]:
calcSTD(df, 'Season', "RoadSurfaceTemperature", "FALL")

RoadSurfaceTemperature    11.383949
dtype: float64

RoadSurfaceTemperature    11.383949
dtype: float64

In [21]:
calcMean(df, 'Season', "AirTemperature", "FALL")

AirTemperature    56.146678
dtype: float64

AirTemperature    56.146678
dtype: float64

In [22]:
calcSTD(df, 'Season', "AirTemperature", "FALL")

AirTemperature    9.339239
dtype: float64

AirTemperature    9.339239
dtype: float64

In [ ]:
roadTempWinterUpLimit = 57.69
airTempWinterUpLimit =  56.85

roadTempSpringUpLimit = 83.82
airTempSpringLimit = 72.78

roadTempSummerUpLimit = 99.44
airTempSummerUpLimit = 87.87

roadTempFallUpLimit = 80.62
airTempFallUpLimit = 65.48

In [ ]:
roadTempWinterLowerLimit = 31.95
airTempWinterLowerLimit =  33.248448

roadTempSpringLowerLimit = 34.03
airTempSpringLowerLimit = 36.77

roadTempSummerLowerLimit = 54.05
airTempSummerLowerLimit = 50.91

roadTempFallLowerLimit = 35.08
airTempFallLowerLimit = 37.4682