In [1]:
from dask.distributed import Client, progress
client = Client()
client

In [2]:
import dask.dataframe as dd

In [19]:
df = dd.read_csv('Weather.csv', blocksize=50e6)

In [20]:
df = df.drop('StationLocation', axis=1)

In [21]:
df.head()

,Unnamed: 0,DateTime,RoadSurfaceTemperature,AirTemperature,Location
0,0,03/03/2014 12:42:00 PM,53.88,53.88,Southwest
1,1,03/03/2014 12:43:00 PM,54.05,54.05,Southwest
2,2,03/03/2014 12:44:00 PM,54.21,54.21,Southwest
3,3,03/03/2014 12:45:00 PM,54.38,54.38,Southwest
4,4,03/03/2014 12:46:00 PM,54.54,54.54,Southwest

In [22]:
#uniqueCoords =  findUniqueValues(df, 'StationLocation')

In [23]:
#printUniqueValues(uniqueCoords)

In [24]:
#df[df['Location']=='South'][['Location', 'RoadSurfaceTemperature', 'AirTemperature']].max().compute()

In [25]:
def climateByLocation(df, locCol, locVal, filterCols):
    print("The mean: ")
    print(df[df[locCol]==locVal][filterCols].mean().compute())
    print("The max value: ")
    print(df[df[locCol]==locVal][filterCols].max().compute())
    print("The min value: ")
    print(df[df[locCol]==locVal][filterCols].min().compute())

In [26]:
#climateByLocation(df, 'Location', 'Southwest', ['Location', 'RoadSurfaceTemperature', 'AirTemperature'])

In [27]:
df['DateTime'] = dd.to_datetime(df['DateTime'])

In [28]:
df['Year'] = df['DateTime'].dt.year
df['Month'] = df['DateTime'].dt.month

In [29]:
df.head()

,Unnamed: 0,DateTime,RoadSurfaceTemperature,AirTemperature,Location,Year,Month
0,0,2014-03-03 12:42:00,53.88,53.88,Southwest,2014,3
1,1,2014-03-03 12:43:00,54.05,54.05,Southwest,2014,3
2,2,2014-03-03 12:44:00,54.21,54.21,Southwest,2014,3
3,3,2014-03-03 12:45:00,54.38,54.38,Southwest,2014,3
4,4,2014-03-03 12:46:00,54.54,54.54,Southwest,2014,3

In [ ]:
df = df.drop('DateTime', axis=1).compute()

In [ ]:
df.head()

In [ ]:
df.to_csv('SeattleWeather.csv')